extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 #{title}
                    .alert.alert-info <strong>#{client.id}</strong> is requesting access to your Bar Profile with the following scopes: #{scope}
                form(method='POST')
                    div.form-group
                        input#client_id.form-control(type='hidden', name='client_id', value=client.id)
                        input#state.form-control(type='hidden', name='state', value=state)
                        input#redirectUri.form-control(type='hidden', name='redirectUri', value=redirectUri)
                    div.form-group
                    div.form-group
                    button#allow.btn.btn-success(type='submit', formaction="/oauth/authorize?allowed=true", name='allowed', value='true', autofocus='') Allow
                    br
                    button#deny.btn.btn-danger(type='submit', formaction="/oauth/authorize?allowed=false", name='allowed', value='false', autofocus='') Deny